<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Name</td>
                <td>Age</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.age}"></td>
            </tr>
        </tbody>
    </table>
<!--    <form th:method="post" th:object="${user}">-->
    <form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>
        <label for="age">Age</label>
        <input type="number" th:field="*{age}" id="age"/>
        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</div>
        <input type="submit" value="Update"/>
    </form>

</body>
</html>